body {
  text-align: center;
  align-items: center;
}

header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

.content-header {
    text-align: center;
}

.content-p > p {
  margin-left: 10em;
  margin-right: 10em;
  max-width: 57em;
}

.image-header {
    border-radius: 15px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }

article {
  height: 100%;
}

.container-img {
  cursor: pointer;
}