body {
  text-align: center;
  align-items: center;
}

header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

.content-header {
    text-align: center;
}

.content-p > p {
  margin-left: 10em;
  margin-right: 10em;
  max-width: 57em;
}

.image-header {
    border-radius: 15px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }

article {
  height: 100%;
}

.container-img {
  cursor: pointer;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

@media (max-width: 768px) {
  .container-img {
    grid-template-columns: 1fr;
  }
}

.div-img {
    width: 100%; /* O el ancho deseado */
    height: auto;
    max-width: 100%; /* Asegura que las imágenes no se desborden */
    max-height: 100%; /* Asegura que las imágenes no se desborden */
}

.imagen-1 {
  background-image: url("https://onedrive.live.com/embed?resid=F3420DF59084E742%21978&authkey=%21AFVYI0KoY70bL9c");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.imagen-2 {
  background-image: url("https://onedrive.live.com/embed?resid=F3420DF59084E742%21976&authkey=%21AKmczGTe7MqsHRg");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}