body {
  text-align: center;
  align-items: center;
  background-color: rgb(16, 16, 57);
}

/* estilos para el header */

header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

.content-header {
    text-align: center;
}

.image-header {
    border-radius: 15px;
}

img {
  object-fit: cover;
  max-width: 100%;
}


article {
  margin-bottom: 5em;
  border-radius: 15px;
  padding: 1em;
}

article button, article h2 {
  margin: 1em;
}


/* estilos para las imagenes de los article */

article img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.modal-body img {
  height: auto;
}

.container-img {
  display: grid;
  grid-auto-flow: dense;
  gap: .5em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.div-img {
  width: 100%;
  max-width: 100%;
  height: 15em;
  position: relative;
  overflow: hidden;
  background-color: rgb(169, 169, 169);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media (max-width: 768px) {
  .container-img {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }
  .div-img{
    height: 7em;
  }
}

/* estilos para los parrafos de las publicaciones */

article p, article ul {
  text-align: justify;
  margin: 2em auto;
  text-transform: uppercase;
}